In [ ]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [12]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)

In [13]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [14]:
devon = [
"Creed's an idiot, you know that.",
"No, no, no, no, no, no! You had it right the first time.",
"Exactly. You gotta go with your gut, man.",
"That's why I'm being fired?",
"So you might not look like an idiot?",
"This is unbelievable!",
"What!",
"[takes the gift certificate and tears it up] Kevin, Jim, Pam, Kelly, Toby, Oscar, Meredith, Phyllis, Stanley, or the temp. If any of you wanna meet me for a drink, I'm going to be at Poor Richard's. And the rest of you can go to hell!",
"Hey Scott. Hey. Hey! Hey! Come here! Come here! I want to talk to you. Come here!"
]

In [15]:
devon_scores = []
for sentence in devon:
    score = analyser.polarity_scores(sentence)
    devon_scores.append(score)
#Converting List of Dictionaries into Dataframe
devon_df= pd.DataFrame(devon_scores)
devon_df

     neg    neu    pos  compound
0  0.398  0.602  0.000   -0.5106
1  0.000  1.000  0.000    0.0000
2  0.000  1.000  0.000    0.0000
3  0.474  0.526  0.000   -0.5574
4  0.474  0.526  0.000   -0.6608
5  0.000  0.489  0.511    0.2714
6  0.000  1.000  0.000    0.0000
7  0.181  0.767  0.053   -0.7901
8  0.000  0.866  0.134    0.3544

In [16]:
pams_mom = [
"Um... hello.",
"Finally made it!",
"This is all yours?",
"Oh, my goodness. That's great.",
"Oh, right! I remember...",
"with the picture.",
"Sure.",
"[to Roy] Oooooh!",
"Well, there he is!",
"Hi, handsome!",
"Oh, thank you! So! We ready for dinner?",
"Oh, I don't believe that.",
"Oh, anything is fine.",
"So which one is Jim?",
"I just wanted to know.",
"All right. Okay.",
"Okay.",
"I'll make myself busy."
]

In [17]:
pamsmom_scores = []
for sentence in pams_mom:
    score = analyser.polarity_scores(sentence)
    pamsmom_scores.append(score)
#Converting List of Dictionaries into Dataframe
pamsmom_df= pd.DataFrame(pamsmom_scores)
pamsmom_df

    neg    neu    pos  compound
0   0.0  1.000  0.000    0.0000
1   0.0  1.000  0.000    0.0000
2   0.0  1.000  0.000    0.0000
3   0.0  0.297  0.703    0.7964
4   0.0  1.000  0.000    0.0000
5   0.0  1.000  0.000    0.0000
6   0.0  0.000  1.000    0.3182
7   0.0  1.000  0.000    0.0000
8   0.0  0.556  0.444    0.3382
9   0.0  0.223  0.777    0.5411
10  0.0  0.518  0.482    0.6792
11  0.0  1.000  0.000    0.0000
12  0.0  0.625  0.375    0.2023
13  0.0  1.000  0.000    0.0000
14  0.0  1.000  0.000    0.0000
15  0.0  0.513  0.487    0.2263
16  0.0  0.000  1.000    0.2263
17  0.0  1.000  0.000    0.0000