In [1]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 7.5 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [2]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [35]:
devon = [
"Creed's an idiot, you know that.",
"No, no, no, no, no, no! You had it right the first time.",
"Exactly. You gotta go with your gut, man.",
"That's why I'm being fired?",
"So you might not look like an idiot?",
"This is unbelievable!",
"What!",
"[takes the gift certificate and tears it up] Kevin, Jim, Pam, Kelly, Toby, Oscar, Meredith, Phyllis, Stanley, or the temp. If any of you wanna meet me for a drink, I'm going to be at Poor Richard's. And the rest of you can go to hell!",
"Hey Scott. Hey. Hey! Hey! Come here! Come here! I want to talk to you. Come here!"
]

In [36]:
devon_scores = []
for sentence in devon:
    score = analyser.polarity_scores(sentence)
    devon_scores.append(score)
#Converting List of Dictionaries into Dataframe
devon_df= pd.DataFrame(devon_scores)
devon_df

     neg    neu    pos  compound
0  0.398  0.602  0.000   -0.5106
1  0.000  1.000  0.000    0.0000
2  0.000  1.000  0.000    0.0000
3  0.474  0.526  0.000   -0.5574
4  0.474  0.526  0.000   -0.6608
5  0.000  0.489  0.511    0.2714
6  0.000  1.000  0.000    0.0000
7  0.181  0.767  0.053   -0.7901
8  0.000  0.866  0.134    0.3544

In [ ]:
pams_mom = [
"Um... hello.",
"Finally made it!",
"This is all yours?",
"Oh, my goodness. That's great.",
"Oh, right! I remember...",
"with the picture.",
"Sure.",
"[to Roy] Oooooh!",
"Well, there he is!",
"Hi, handsome!",
"Oh, thank you! So! We ready for dinner?",
"Oh, I don't believe that.",
"Oh, anything is fine.",
"So which one is Jim?",
"I just wanted to know.",
"All right. Okay.",
"Okay.",
"I'll make myself busy."
]

In [ ]:
pamsmom_scores = []
for sentence in pams_mom:
    score = analyser.polarity_scores(sentence)
    pamsmom_scores.append(score)
#Converting List of Dictionaries into Dataframe
pamsmom_df= pd.DataFrame(pamsmom_scores)
pamsmom_df

    neg    neu    pos  compound
0   0.0  1.000  0.000    0.0000
1   0.0  1.000  0.000    0.0000
2   0.0  1.000  0.000    0.0000
3   0.0  0.297  0.703    0.7964
4   0.0  1.000  0.000    0.0000
5   0.0  1.000  0.000    0.0000
6   0.0  0.000  1.000    0.3182
7   0.0  1.000  0.000    0.0000
8   0.0  0.556  0.444    0.3382
9   0.0  0.223  0.777    0.5411
10  0.0  0.518  0.482    0.6792
11  0.0  1.000  0.000    0.0000
12  0.0  0.625  0.375    0.2023
13  0.0  1.000  0.000    0.0000
14  0.0  1.000  0.000    0.0000
15  0.0  0.513  0.487    0.2263
16  0.0  0.000  1.000    0.2263
17  0.0  1.000  0.000    0.0000

In [44]:
test_df = pd.read_csv("test.csv")
test_df.head(32)

    Unnamed: 0 character  ... episode  line_ID
0            0   Michael  ...       1       11
1            1       Jim  ...       1       11
2            2   Michael  ...       1       11
3            3       Jim  ...       1       11
4            4   Michael  ...       1       11
5            5   Michael  ...       1       11
6            6   Michael  ...       1       11
7            7       Pam  ...       1       11
8            8   Michael  ...       1       11
9            9       Pam  ...       1       11
10          10   Michael  ...       1       11
11          11       Pam  ...       1       11
12          12   Michael  ...       1       11
13          13       Pam  ...       1       11
14          14   Michael  ...       1       11
15          15   Michael  ...       1       11
16          16       Jim  ...       1       11
17          17   Michael  ...       1       11
18          18       Jim  ...       1       11
19          19   Michael  ...       1       11
20          20    Dwight  ...       1       11
21          21   Michael  ...       1       11
22          22    Dwight  ...       1       11
23          23   Michael  ...       1       11
24          24       Jim  ...       1       11
25          25   Michael  ...       1       11
26          26       Jim  ...       1       11
27          27   Michael  ...       1       11
28          28       Jan  ...       1       11

[29 rows x 6 columns]

In [45]:
line = test_df['line'].tolist()
line

['All right Jim. Your quarterlies look very good. How are things at the library?',
 "Oh, I told you. I couldn't close it. So...",
 "So you've come to the master for guidance? Is this what you're saying, grasshopper?",
 'Actually, you called me in here, but yeah.',
 "All right. Well, let me show you how it's done.",
 " So that's the way it's done.",
 "I've, uh, I've been at Dunder Mifflin for 12 years, the last four as Regional Manager. If you want to come through here... See we have the entire floor. So this is my kingdom, as far as the eye can see. This is our receptionist, Pam. Pam! Pam-Pam! Pam Beesly. Pam has been with us for... forever. Right, Pam?",
 "Well. I don't know.",
 "If you think she's cute now, you should have seen her a couple of years ago. ",
 'What?',
 'Any messages?',
 'Uh, yeah. Just a fax.',
 "Oh! Pam, this is from Corporate. How many times have I told you? There's a special filing cabinet for things from corporate.",
 "You haven't told me.",
 "It's called the wastepaper basket! Look at that! Look at that face.",
 'People say I am the best boss. They go, "God we\'ve never worked in a place like this before. You\'re hilarious." "And you get the best out of us."  I think that pretty much sums it up. I found it at Spencer Gifts.',
 "My job is to speak to clients on the phone about... uh, quantities and type of copier paper. You know, whether we can supply it to them. Whether they can pay for it. And... I'm boring myself just talking about this.",
 'Whassup!',
 'Whassup! I still love that after seven years.',
 'Whassup!',
 'Whassup!',
 'Whass...up!',
 'Whassup.',
 ' What?',
 'Nothing.',
 'OK. All right. See you later.',
 'All right. Take care.',
 'Back to work.',
 ' Just before lunch. That would be great.']

In [47]:
line_scores = []
for sentence in line:
    score = analyser.polarity_scores(sentence)
    line_scores.append(score)
#Converting List of Dictionaries into Dataframe
lineScore_df= pd.DataFrame(line_scores)
lineScore_df.head(10)

   neg    neu    pos  compound
0  0.0  0.803  0.197    0.4927
1  0.0  1.000  0.000    0.0000
2  0.0  1.000  0.000    0.0000
3  0.0  0.714  0.286    0.4215
4  0.0  0.811  0.189    0.2732
5  0.0  1.000  0.000    0.0000
6  0.0  0.969  0.031    0.2225
7  0.0  0.588  0.412    0.2732
8  0.0  0.833  0.167    0.4588
9  0.0  1.000  0.000    0.0000

In [48]:
sentiment = lineScore_df['compound'].tolist()

In [49]:
test_df['Sentiment_Score'] = sentiment
test_df

    Unnamed: 0 character  ... line_ID  Sentiment_Score
0            0   Michael  ...      11           0.4927
1            1       Jim  ...      11           0.0000
2            2   Michael  ...      11           0.0000
3            3       Jim  ...      11           0.4215
4            4   Michael  ...      11           0.2732
5            5   Michael  ...      11           0.0000
6            6   Michael  ...      11           0.2225
7            7       Pam  ...      11           0.2732
8            8   Michael  ...      11           0.4588
9            9       Pam  ...      11           0.0000
10          10   Michael  ...      11           0.0000
11          11       Pam  ...      11           0.2960
12          12   Michael  ...      11           0.4574
13          13       Pam  ...      11           0.0000
14          14   Michael  ...      11           0.0000
15          15   Michael  ...      11           0.9578
16          16       Jim  ...      11          -0.4019
17          17   Michael  ...      11           0.0000
18          18       Jim  ...      11           0.6696
19          19   Michael  ...      11           0.0000
20          20    Dwight  ...      11           0.0000
21          21   Michael  ...      11           0.0000
22          22    Dwight  ...      11           0.0000
23          23   Michael  ...      11           0.0000
24          24       Jim  ...      11           0.0000
25          25   Michael  ...      11           0.0000
26          26       Jim  ...      11           0.4939
27          27   Michael  ...      11           0.0000
28          28       Jan  ...      11           0.6249

[29 rows x 7 columns]