In [1]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 4.2 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [2]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [ ]:
devon = [
"Creed's an idiot, you know that.",
"No, no, no, no, no, no! You had it right the first time.",
"Exactly. You gotta go with your gut, man.",
"That's why I'm being fired?",
"So you might not look like an idiot?",
"This is unbelievable!",
"What!",
"[takes the gift certificate and tears it up] Kevin, Jim, Pam, Kelly, Toby, Oscar, Meredith, Phyllis, Stanley, or the temp. If any of you wanna meet me for a drink, I'm going to be at Poor Richard's. And the rest of you can go to hell!",
"Hey Scott. Hey. Hey! Hey! Come here! Come here! I want to talk to you. Come here!"
]

In [ ]:
devon_scores = []
for sentence in devon:
    score = analyser.polarity_scores(sentence)
    devon_scores.append(score)
#Converting List of Dictionaries into Dataframe
devon_df= pd.DataFrame(devon_scores)
devon_df

     neg    neu    pos  compound
0  0.398  0.602  0.000   -0.5106
1  0.000  1.000  0.000    0.0000
2  0.000  1.000  0.000    0.0000
3  0.474  0.526  0.000   -0.5574
4  0.474  0.526  0.000   -0.6608
5  0.000  0.489  0.511    0.2714
6  0.000  1.000  0.000    0.0000
7  0.181  0.767  0.053   -0.7901
8  0.000  0.866  0.134    0.3544

In [ ]:
pams_mom = [
"Um... hello.",
"Finally made it!",
"This is all yours?",
"Oh, my goodness. That's great.",
"Oh, right! I remember...",
"with the picture.",
"Sure.",
"[to Roy] Oooooh!",
"Well, there he is!",
"Hi, handsome!",
"Oh, thank you! So! We ready for dinner?",
"Oh, I don't believe that.",
"Oh, anything is fine.",
"So which one is Jim?",
"I just wanted to know.",
"All right. Okay.",
"Okay.",
"I'll make myself busy."
]

In [ ]:
pamsmom_scores = []
for sentence in pams_mom:
    score = analyser.polarity_scores(sentence)
    pamsmom_scores.append(score)
#Converting List of Dictionaries into Dataframe
pamsmom_df= pd.DataFrame(pamsmom_scores)
pamsmom_df

    neg    neu    pos  compound
0   0.0  1.000  0.000    0.0000
1   0.0  1.000  0.000    0.0000
2   0.0  1.000  0.000    0.0000
3   0.0  0.297  0.703    0.7964
4   0.0  1.000  0.000    0.0000
5   0.0  1.000  0.000    0.0000
6   0.0  0.000  1.000    0.3182
7   0.0  1.000  0.000    0.0000
8   0.0  0.556  0.444    0.3382
9   0.0  0.223  0.777    0.5411
10  0.0  0.518  0.482    0.6792
11  0.0  1.000  0.000    0.0000
12  0.0  0.625  0.375    0.2023
13  0.0  1.000  0.000    0.0000
14  0.0  1.000  0.000    0.0000
15  0.0  0.513  0.487    0.2263
16  0.0  0.000  1.000    0.2263
17  0.0  1.000  0.000    0.0000

In [5]:
test_df = pd.read_csv("cleaned_scripts.csv", index_col=0)
test_df.head(20)

   character  ... line_ID
0    Michael  ...      11
1        Jim  ...      11
2    Michael  ...      11
3        Jim  ...      11
4    Michael  ...      11
5    Michael  ...      11
6    Michael  ...      11
7        Pam  ...      11
8    Michael  ...      11
9        Pam  ...      11
10   Michael  ...      11
11       Pam  ...      11
12   Michael  ...      11
13       Pam  ...      11
14   Michael  ...      11
15   Michael  ...      11
17       Jim  ...      11
18   Michael  ...      11
19       Jim  ...      11
20   Michael  ...      11

[20 rows x 5 columns]

In [7]:
line = test_df['line'].tolist()

In [9]:
line_scores = []
for sentence in line:
    score = analyser.polarity_scores(sentence)
    line_scores.append(score)
#Converting List of Dictionaries into Dataframe
lineScore_df= pd.DataFrame(line_scores)
lineScore_df.head(20)

      neg    neu    pos  compound
0   0.000  0.803  0.197    0.4927
1   0.000  1.000  0.000    0.0000
2   0.000  1.000  0.000    0.0000
3   0.000  0.714  0.286    0.4215
4   0.000  0.811  0.189    0.2732
5   0.000  1.000  0.000    0.0000
6   0.000  0.969  0.031    0.2225
7   0.000  0.588  0.412    0.2732
8   0.000  0.833  0.167    0.4588
9   0.000  1.000  0.000    0.0000
10  0.000  1.000  0.000    0.0000
11  0.000  0.645  0.355    0.2960
12  0.000  0.875  0.125    0.4574
13  0.000  1.000  0.000    0.0000
14  0.000  1.000  0.000    0.0000
15  0.000  0.662  0.338    0.9578
16  0.087  0.913  0.000   -0.4019
17  0.000  1.000  0.000    0.0000
18  0.000  0.609  0.391    0.6696
19  0.000  1.000  0.000    0.0000

In [10]:
sentiment = lineScore_df['compound'].tolist()

In [12]:
test_df['sentiment_score'] = sentiment
test_df.head(20)

   character  ... sentiment_score
0    Michael  ...          0.4927
1        Jim  ...          0.0000
2    Michael  ...          0.0000
3        Jim  ...          0.4215
4    Michael  ...          0.2732
5    Michael  ...          0.0000
6    Michael  ...          0.2225
7        Pam  ...          0.2732
8    Michael  ...          0.4588
9        Pam  ...          0.0000
10   Michael  ...          0.0000
11       Pam  ...          0.2960
12   Michael  ...          0.4574
13       Pam  ...          0.0000
14   Michael  ...          0.0000
15   Michael  ...          0.9578
17       Jim  ...         -0.4019
18   Michael  ...          0.0000
19       Jim  ...          0.6696
20   Michael  ...          0.0000

[20 rows x 6 columns]

In [23]:
test_df[(test_df['character'] == "Michael") & (test_df['sentiment_score']>0)]

      character  ... sentiment_score
0       Michael  ...          0.4927
4       Michael  ...          0.2732
6       Michael  ...          0.2225
8       Michael  ...          0.4588
12      Michael  ...          0.4574
...         ...  ...             ...
45317   Michael  ...          0.7184
45319   Michael  ...          0.6249
45321   Michael  ...          0.2263
45323   Michael  ...          0.2235
60445   Michael  ...          0.5423

[5701 rows x 6 columns]

In [24]:
test_df[(test_df['character'] == "Michael") & (test_df['sentiment_score']<0)]

      character  ... sentiment_score
30      Michael  ...         -0.0204
32      Michael  ...         -0.2960
48      Michael  ...         -0.4003
52      Michael  ...         -0.5216
61      Michael  ...         -0.8802
...         ...  ...             ...
45134   Michael  ...         -0.2411
45139   Michael  ...         -0.1027
45159   Michael  ...         -0.1531
45274   Michael  ...         -0.6597
45307   Michael  ...         -0.8152

[1743 rows x 6 columns]

In [25]:
test_df[(test_df['character'] == "Dwight") & (test_df['sentiment_score']<0)]

      character  ... sentiment_score
92       Dwight  ...         -0.1027
124      Dwight  ...         -0.3818
146      Dwight  ...         -0.5080
286      Dwight  ...         -0.0772
312      Dwight  ...         -0.1779
...         ...  ...             ...
60293    Dwight  ...         -0.2960
60302    Dwight  ...         -0.3400
60391    Dwight  ...         -0.1511
60521    Dwight  ...         -0.8309
60526    Dwight  ...         -0.2704

[1239 rows x 6 columns]

In [26]:
test_df[(test_df['character'] == "Dwight") & (test_df['sentiment_score']>0)]

      character  ... sentiment_score
95       Dwight  ...          0.3089
109      Dwight  ...          0.3939
112      Dwight  ...          0.4515
114      Dwight  ...          0.2500
143      Dwight  ...          0.7269
...         ...  ...             ...
60447    Dwight  ...          0.4404
60450    Dwight  ...          0.4404
60513    Dwight  ...          0.9054
60523    Dwight  ...          0.7847
60528    Dwight  ...          0.9419

[2756 rows x 6 columns]

In [28]:
test_df[(test_df['character'] == "Jim") & (test_df['sentiment_score']>0)]

      character  ... sentiment_score
3           Jim  ...          0.4215
19          Jim  ...          0.6696
27          Jim  ...          0.4939
70          Jim  ...          0.4019
84          Jim  ...          0.7184
...         ...  ...             ...
60480       Jim  ...          0.4939
60485       Jim  ...          0.1513
60487       Jim  ...          0.3382
60537       Jim  ...          0.8979
60539       Jim  ...          0.4404

[2796 rows x 6 columns]

In [29]:
test_df[(test_df['character'] == "Jim") & (test_df['sentiment_score']<0)]

      character  ... sentiment_score
17          Jim  ...         -0.4019
72          Jim  ...         -0.3612
136         Jim  ...         -0.1999
161         Jim  ...         -0.0772
233         Jim  ...         -0.3939
...         ...  ...             ...
60386       Jim  ...         -0.5499
60394       Jim  ...         -0.0772
60468       Jim  ...         -0.0772
60522       Jim  ...         -0.5423
60555       Jim  ...         -0.5216

[807 rows x 6 columns]

In [30]:
test_df[(test_df['character'] == "Pam") & (test_df['sentiment_score']<0)]

      character  ... sentiment_score
130         Pam  ...         -0.1027
197         Pam  ...         -0.8053
201         Pam  ...         -0.0772
206         Pam  ...         -0.3400
429         Pam  ...         -0.0772
...         ...  ...             ...
59785       Pam  ...         -0.5095
59789       Pam  ...         -0.1779
60061       Pam  ...         -0.7003
60330       Pam  ...         -0.0772
60505       Pam  ...         -0.0772

[627 rows x 6 columns]

In [31]:
test_df[(test_df['character'] == "Pam") & (test_df['sentiment_score']>0)]

      character  ... sentiment_score
7           Pam  ...          0.2732
11          Pam  ...          0.2960
37          Pam  ...          0.2960
39          Pam  ...          0.4019
69          Pam  ...          0.2023
...         ...  ...             ...
60500       Pam  ...          0.2263
60506       Pam  ...          0.9594
60518       Pam  ...          0.4939
60524       Pam  ...          0.4404
60556       Pam  ...          0.9408

[2235 rows x 6 columns]

In [32]:
test_df[(test_df['character'] == "Andy") & (test_df['sentiment_score']>0)]

      character  ... sentiment_score
9802       Andy  ...          0.5221
9806       Andy  ...          0.5315
10343      Andy  ...          0.2714
10581      Andy  ...          0.1680
10757      Andy  ...          0.6369
...         ...  ...             ...
60196      Andy  ...          0.6249
60198      Andy  ...          0.4019
60517      Andy  ...          0.2732
60532      Andy  ...          0.4404
60533      Andy  ...          0.7096

[1727 rows x 6 columns]

In [33]:
test_df[(test_df['character'] == "Andy") & (test_df['sentiment_score']<0)]

      character  ... sentiment_score
9844       Andy  ...         -0.7779
10515      Andy  ...         -0.4926
10797      Andy  ...         -0.2057
11221      Andy  ...         -0.1511
11905      Andy  ...         -0.3612
...         ...  ...             ...
60098      Andy  ...         -0.6646
60100      Andy  ...         -0.5255
60109      Andy  ...         -0.2263
60313      Andy  ...         -0.4019
60529      Andy  ...         -0.4767

[601 rows x 6 columns]